@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* 
    Defaults for home page
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    --color: #4285F4;
    --font: 'Open Sans', sans-serif;
}

main {
    position: relative;
    width: 100%;
}

main>section,
section #email-input {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
}

main>section {
    margin: calc(0.5*(100vh - 300px)) 0px;
}

button {
    background-color: var(--color);
    color: white;
    text-align: center;
}

input,
button {
    width: 85%;
    height: 72px;
    text-align: left;
    line-height: inherit;
    border: 2px solid var(--color);
    border-radius: .2rem;
    font-family: var(--font);
    font-size: 24px;
}

input:focus,
button:focus,
input:active {
    border: 1px solid var(--color);
}

h1 {
    font-family: var(--font);
    font-size: 2.5rem;
    text-align: center;
    line-height: 4.065rem;
    color: var(--color);
}

p {
    font-family: var(--font);
    font-size: 1.425rem;
    line-height: 2.875rem;
    text-align: center;
    color: #707070;
}

/* 
    main section edits
*/
img {
    width: 35rem;
    position: absolute;
    bottom: 9rem;
    height: auto;
    z-index: -1;
}

section input[type=email] {
    font-size: 1.5rem;
    padding: 2.0625rem;
}

#button-id {
    margin-top: 1.5rem;
    text-align: center;
    transition: all 0.3s ease-in;
}

#button-id:hover {
    background-color: #5596ff;
}

#button-id:focus {
    background-color: #1c73ff;
}

#button-id:active {
    background-color: #2a7cff;
}

section>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section>div p {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0rem 3.2rem 0rem;
}

svg {
    position: absolute;
    left: -4rem;
    height: 115rem;
    width: 10.9%;
}

main>img {
    visibility: hidden;
}

section #email-input {
    width: 90%;
}

@media screen and (min-width: 75rem) {

    img {
        bottom: 12rem;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main section {
        width: 80%;
    }

    main svg {
        width: initial;
        height: initial;
    }

    main svg:nth-child(1) {
        visibility: hidden;
    }

    main>img {
        visibility: visible;
        left: -5.8rem;
        top: 0;
        width: 8.7rem;
        z-index: -1;
        height: auto;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    section input {
        width: 90%;
    }

    section #email-input,
    #button-id {
        width: 90%;
    }

    #button-id {
        margin-top: 2rem;
    }

    section>div p {
        margin: 1rem 0rem 5rem 0rem;
    }
}