<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COWLSO</title>
    <link href="./css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <main>
        <section>
            <div>
                <h1>Upload CSV file here</h1>
                <form class="form-input" action="/upload-csv" method="POST" enctype="multipart/form-data">
                    <input type="file" name="FileUpload" id="csv" accept=".csv" />
                    <button class="send-button" id="" onclick="">Send</button>
                </form>

            </div>

        </section>
    </main>
    <script src="./js/okay.js"></script>
</body>

</html>