<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COWLSO</title>
    <link href="./css/styles.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <section>
        <div>
          <h1 id="first-text">Generate your Certificate</h1>
          <p id="second-text">
            Hi there! please enter the name you want to appear on your
            certificate
          </p>

          <form action="/generate" class="form-input" method="POST" id="name">
            <input
              name="name"
              type="text"
              id="input-text"
              placeholder="Enter your name"
              minlength="1"
              maxlength="40"
              required
            />
            <button id="button-id" type="button" onclick="return main()">
              Generate
            </button>
          </form>
        </div>
      </section>
    </main>
    <script>
      let form = document.getElementById("name");

      let main = () => {
        var data = {};
        for (var i = 0, ii = form.length; i < ii; ++i) {
          var input = form[i];
          if (input.name) {
            data[input.name] = input.value;
          }
        }
        if (data["name"] == "") {
          alert("Please input the name you want to appear on your certificate");
        } else {
          data["name"] = data["name"].replace(/\s+/g, " ");
          if (data["name"].charAt(0) === " ") {
            data["name"] = data["name"].split("");
            data["name"].shift();
            data["name"] = data["name"].join("");
          }

          if (data["name"].charAt(data["name"].length - 1) === " ") {
            data["name"] = data["name"].split("");
            data["name"].pop();
            data["name"] = data["name"].join("");
          }
          var xhttp = new XMLHttpRequest();
          xhttp.open("POST", "/generate", true);
          xhttp.setRequestHeader("Content-Type", "application/json");
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              if (JSON.parse(this.responseText).success == true) {
                window.open(
                  `/download`,
                  "_blank" // <- This is what makes it open in a new window.
                );
                location.href = "/congrats";
              } else {
                location.href = "/oops";
              }
            }
          };
          console.log(data);

          xhttp.send(JSON.stringify(data));
        }
      };
    </script>
  </body>
</html>
