<!doctype html>
<html lang="en-US">

<head>
  <title>COWLSO</title>
  <link href="./css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <main>
    <section>
      <div>
        <h1 id="first-text">Email Verification</h1>
        <p id="second-text">Hi there! please enter your e-mail to get verified</p>

        <form id="email-input" class="form-input">
          <input type="email" id="input-text" placeholder="Enter your e-mail" name="email" autocomplete="email" minlength=2 required>
        
          <button type="button" onclick="main()" id="button-id">
            Verify
          </button>
        </form>
        
      </div>
    </section>
  </main>
  <script src="./js/okay.js"></script>
</body>

</html>
